.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  margin-left: 300px;
  padding: 30px;
  gap: 40px;
}
.card{
  width: 200px;
  height:200px;
  background-color:gray;

}