.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  margin-left: 300px;
  padding: 30px;
  gap: 40px;
}
.gradient{
  width: 200px;
  height:200px;
  background-color:gray;
}
.card{
  border:1px solid #eee;
}
 .title{
 text-align: center;
 padding: 5px 0px;
 width: 200px;
}