* {
      margin: 0px;
      padding: 0px;
    }

    body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .nav-bar {
      padding: 20px;
      display: flex;
      width: 200px;
      height: 100vh;
      flex-direction: column;
      justify-content: space-around;
      position: fixed;
      left: 10px;
      background-color: whitesmoke;
    }

    .nav-bar h1 {
      /* color: #eee; */
      font-weight: 300;
      font-size: 26px;
    }

    .nav-bar a:hover {
      color: gray;
      font-weight: 900;
    }

    .nav-bar a {
      text-decoration: none;
      color: black;
    }

    .header {
      display: flex;
      justify-content: center;
      align-content: center;
    }